body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2),
    0 -4px 20px rgba(0, 0, 0, 0.2),
    4px 0px 20px rgba(0, 0, 0, 0.2),
    -4px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#display {
    height: 55px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.operator {
    background-color: #28a745;
}

.operator:hover {
    background-color: #218838;
}
@media screen and (max-width: 450px) {
    .calculator{
        padding: 12px;
    }
    #display{
        height: 50px;
        font-size: 17px;
        margin-bottom: 8px;
    }
    .buttons{
        gap: 6px;
    }
    .btn{
        padding: 15px;
        font-size: 15px;
    }
}